
@model IEnumerable<HotelApp.ViewModel.HotelModel>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.Id) </th>
            <th> @Html.DisplayNameFor(model => model.Floor) </th>
            <th> @Html.DisplayNameFor(model => model.Room) </th>
            <th>
                <a onclick="showInPopup('@Url.Action("SaveHotel", "Hotel", null, Context.Request.Scheme)', 'New Hotel')"
                   class="btn btn-success text-white">
                    Create New
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.Id) </td>
                <td> @Html.DisplayFor(modelItem => item.Floor) </td>
                <td> @Html.DisplayFor(modelItem => item.Room) </td>
                <td>
                    <a onclick="showInPopup('@Url.Action("SaveHotel", "Hotel", new { id = item.Id }, Context.Request.Scheme)', 'Update Hotel')" class="btn btn-info text-white">
                        Edit
                    </a>
                    <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                        <input type="submit" value="DELETE" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
